<header  id="inicio" class="banner">
    <div class="container">
      <div class="banner-content">
        <div class="description" #description>
          <h1>Maira Ramirez</h1>
          <p>Desarrolladora Web</p>
          <a href="#" class="btn btn-primary">Descargar CV</a>
        </div>
        <div class="foto-perfil" #fotoperfil>
          <img src="assets/profile-picture.jpg" alt="Profile Picture" class="profile-picture" #profilePicture>
        </div>
      </div>
    </div>
  </header>
  